<configuration debug="true" scan="true" scanPeriod="90 seconds">
  <property name="LOG_PATH" value="logs"/>
  <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive"/>

  <appender name="ConsoleStdOut" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%-5level] [%d{MM/dd/YYYY HH:mm:ss.SSS}] [%thread] %logger{45} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FileWithSizeAndTimeBasedRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/atiesh-server.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_ARCHIVE}/atiesh-server.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>300MB</maxFileSize>
      <maxHistory>15</maxHistory>
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>[%-5level] [%d{MM/dd/YYYY HH:mm:ss.SSS}] [%thread] %logger{45} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
  <root level="DEBUG">
    <appender-ref ref="ConsoleStdOut" />
  </root>
  -->

  <!-- internal and core scala libraries -->
  <logger name="akka" level="INFO" />
  <logger name="atiesh" level="INFO" />
  <!-- internal and core scala libraries -->
  <logger name="org.apache.kafka" level="INFO" />
</configuration>
